<h1>Click an Album To View Contents</h1>
<%= link_to 'Create a new album', new_artist_album_path(@artist) %>
<ul>
  <% @albums.each do |album| %>
    <li><%= link_to album.name, [@artist, @album] %></li>
  <% end %>
</ul>